/* עיצוב בסיסי */
body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* עיצוב התוכן */
.app-content {
  min-height: calc(100vh - 100px); /* התאמת גובה כולל Footer */
  padding: 20px;
}

/* התאמות RTL ו-LTR */
[dir="rtl"] .app-content {
  text-align: right;
}

[dir="ltr"] .app-content {
  text-align: left;
}

/* שינוי ברירת המחדל של כפתורים */
.btn-primary {
  background-color: #006a69 !important;
  border-color: #006a69 !important;
}

.btn-primary:hover {
  background-color: #004d4d !important;
  border-color: #004d4d !important;
}

/* שינוי טקסט */
.text-primary {
  color: #006a69 !important;
}

/* שינוי קישורים */
a {
  color: #006a69;
}

a:hover {
  color: #004d4d;
}

